.banner{
    background-image:url("https://webcdn.leica-microsystems.com/fileadmin/_processed_/d/3/csm_dental-applications_8ece83a1db.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
   height:500px;
   width:100%;
}
.banner-title{
    padding-left: 40px;
    padding-top: 40px;
}
.heading{
    color:rgb(240, 89, 62);
}

.button-regular{
    background-color:rgb(245, 79, 50);

     width:180px;
      height:45px;
    border:  3px solid rgb(245, 79, 50);
   
    color: white;
   
}
.button-regular:hover{
    background-color: rgb(241, 227, 224);
    border:  3px solid rgb(245, 79, 50);
    color: black;
    
}
.care-style h1,h3,i{
    color:rgb(12, 33, 73)
}